.about {
	position: relative;
	width: 100%;
	background-color: #f9f9f9;
}

.about__img,
.about__description {
	.make-lg-column(6);
}

.about__img {
	background-image: url('../images/about.png');
	height: 610px;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}