.dev-details {
	position: relative;
	width: 100%;
	display: inline-block;
	background-color: #f9f9f9;	
}

.dev-details__wrapper {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	min-height: 700px;
	padding: 20px;
}

.dev-details__description {
	width: 340px;
	color: #555;
    font-size: 18px;
    line-height: 1.4;
}

.dev-details__title {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.dev-details__text {
	text-align: justify;
}

.dev-details__img--smartphone {
	position: relative;
	background-image: url('../images/iphone.png');
	width: 280px;
	height: 315px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.dev-details__img--laptop {
	background-image: url('../images/midias-sociais.png');
	width: 340px;
	height: 350px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.dev-details__hover {
	position: relative;
	display: block;
	width: 90px;
	height: 159px;
	overflow: hidden;
	margin: 84px auto 0;

	.dev-details__hover--img {
		position: absolute;
		display: block;
		width: 90px;
		height: 6413px;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
		background-image: url('../images/mobile.png');
		background-attachment: scroll;
	    background-repeat: no-repeat;
	    background-size: 100%;	    
	    background-position: center 0;	   	
	}

}

@keyframes mobile{
	0% {
		background-position: center 0;
	}
	100% {
		background-position: center -100%;
	}
}


@media(min-width: 768px) {
	.dev-details__img--smartphone {
		width: 340px;
	}

	.dev-details__hover {
		width: 108px;
		height: 192px;
		margin: 69px auto 0;

		.dev-details__hover--img {
			width: 108px;
			height: 4346px;
			transition: background-position 18s ease 0s;
			&:hover {
				background-position: center -100%;
			}
		}
	}
}


@media(min-width: 992px) {
	.dev-details__wrapper {
		min-height: 900px;
	}

	.dev-details__description {
		width: 410px;
		font-size: 21px;
	}

	.dev-details__img--smartphone {
		width: 500px;
		height: 396px;
	}

	.dev-details__img--laptop {
		width: 411px;
		height: 420px;
	}

	.dev-details__hover {
		width: 160px;
		height: 284px;
		margin: 65px auto;

		.dev-details__hover--img {
			width: 160px;
			height: 6433px;
		}
	}
}